<div class="title-container">
  <h1 class="title">Bem vindo a demo com PouchDb</h1>
</div>
<form [formGroup]="pouchform" class="form"> 
  <div class="create">
      <label>Digite seu Nome</label>
      <input formControlName="name"/>
      <label>Digite seu Email</label>
      <input type="email" formControlName="email"/>
      <button (click)="create()" type="submit">Salvar usuário</button>
  </div>
  <hr>
  <h2 class="search-title">Pesquisar pelo Nome</h2>
  <div class="search">
    
    <label>Nome:</label>
    <input formControlName="searchName"/>
    <button (click)="read()">Pesquisar</button> <br/>
    <br/> 
  </div>
<table class="table-users">

  <tr *ngFor="let row of result">

    <td>Nome: <input type="text" formControlName="newName" value="{{row.name}}"></td>
    <td>Email: <input type="text" formControlName="newEmail" value="{{row.email}}"></td> <button name="{{row.name}}" (click)="update($event)">Atualizar</button> <button name="{{row.name}}" (click)="delete($event)">Deletar</button>
  </tr>
</table>
</form> 
